.nav-tabs {
  display: block;
  text-align: center;
  border-bottom: solid 1px $gray;
  @include media-breakpoint-down(xs) {
    text-align: center;
    padding-right: 0;
    padding-bottom: $global-padding / 2;
  }
  .nav-item {
    display: inline;
    @include media-breakpoint-down(xs) {
      display: inline-block;
      float: none;
    }
    & + .nav-item {
      margin-left: 0;
    }
    .nav-link {
      padding: $global-padding / 2 $global-padding * 2;
      margin-top: $global-margin / 2;
      display: inline-block;
      transition: 0.3s;
      border: 0;
      text-transform: uppercase;
      @include media-breakpoint-down(sm) {
        padding: $global-padding / 2 $global-padding;
      }
      h3 {
        color: $skull-gray;
        @include media-breakpoint-down(sm) {
          font-size: 1rem;
        }
      }
      &:hover, &.active {
        h3 {
          border: 0;
          color: $body-color;
        }
      }
    }
  }
}
.tab-pane {
  margin-top: $global-margin;
}

/* Tab Content */
.grid-tabs {
  & .tab-content:not(.tab-active) {
    display: none;
  }
}

/* Tabs */
.grid-tabs {
  display: block;
  width: 100%;

  /* Default tab behaviour is evenly spaced list items */
  & ul.tabs {
    display: flex;
    align-items: flex-start;
    text-align: center;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid rgb(153, 153, 153);
    list-style: none;
    justify-content: space-around;
  }
  & ul li.tab {
    position: relative;
    flex: 1;
    color: rgb(153, 153, 153);
    &:hover,&:focus {
      color: $brand-hover;
    }
    &:hover:after {
      background-color: $brand-hover;
    }
  }
  & ul li.tab.tab-active:not(:hover) {
    color: $brand;
    &:after {
      background-color: $brand;
    }
  }
  & ul li.tab:after {
    display: block;
    content: '';
    bottom: -2px;
    left: 0;
    right: 0;
    position: absolute;
    height: 3px;
  }
}